body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
p{
    font-family: 'Ubuntu', sans-serif;
    color: #333;
    text-align: center;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #333;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    color: dodgerblue;
}
ul.header{
    text-align: right;
    height: 75px;
    line-height: 75px;
    margin: 0px;
}

li{
    display: inline-block;
}

li.logo{
    float:left;
    vertical-align: middle; 
    padding-left:75px; 
    padding-top:5px;
}
a.header{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #333;
    margin: 30px 40px 20px 0px;
}

div.header{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}

li:active a{
    color: dodgerblue; 
}

input.nav_button{
    display: none;
    color: #333;
    float:right;
    margin-top: 20px;
    margin-right:100px;
}

div.test{
    padding-top: 50px;
    position: relative;
    display: inline-block;
    width:100%;
    
}
div.text-box{
    position: absolute;   
    height: 100%;
    text-align: center;    
    width: 100%;

}

p.imgtext{
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 1px 1px #111;
    margin: 0px 0px 0px 150px;
    padding: 0px;
    font-size: 48px;

}
p.imgsubtext{
    color:white;
    text-shadow: 2px 1px #111;
    text-align: left;
    font-size: 24px;
    margin-left: 150px;
}


button.img{
    color: white;
    font-size: 20px;
    border-color: white;
    float: left;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 150px;
    border-radius: 3px;
    background-color: transparent;
}

p.fishtype{
    color: gray;
    font-weight: bold;
}

h1.fish{
    letter-spacing: 5px;
}

div.prices{
    background-color: #f7faff;
    padding-bottom: 50px;
    overflow:hidden;
}

div.bio{
    margin-top: 20px;
}
p.bio{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 200px 30px 200px;
    min-width: 300px;
    max-width: 1200px;
    color:gray;
}
img.bio{
    margin-left:auto;
    margin-right:auto;
    display: block;
}

figure{
    width: 25%;
    float: left;
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
}
figcaption{
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: #333;
}
figcaption.subtext{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: grey;
}
img.video{
    margin-top: -600px;
}

@media screen and (max-width:1604px){
    img.video{
    margin-top: -600px;
    }
}
@media screen and (max-width:1420px){
    img.main{
        height:700px;
    }
    img.video{
    margin-top: -400px;
    }
}
@media screen and (max-width:1220px){
    img.main{
        height: 600px;
    }
    img.video{
    margin-top: -350px;
    }
}
@media screen and (max-width:1050px){
    img.main{
        margin-left:-100px;
    }
    div.test{
        left: -100px;
    }
    div.text-box{
        bottom: 50px;
        max-width: 400px;
    }
    input.nav_button{
        display:block;
    }
    li.header{
        display: none;
    }
    div.header:hover li.header{
        display: block;
        position: relative;
        float:left;
        text-align: left;
        top:40px;
        padding: 10px 0px 10px 20px;
        outline: 2px #333 solid;
        border-collapse: collapse;
        background-color: white;
        width: 100%;
    }
    ul.header{
        padding-left:0px;
        line-height: unset;
    }
    li.logo{
        padding-top:15px;
    }
    img.video{
    margin-top: -300px;
    }
}
@media screen and (max-width:973px){
    div.text-box{
        bottom: 50px;
        max-width: 400px;
    }
    
    p.bio{
        padding-left:100px;
        padding-right: 100px;
    }

    img.video{
    margin-top: -300px;
    }
    
    figure{
        width: 50%;
    }
}
@media screen and (max-width:875px){
    div.text-box{
        left: 280px;
        bottom: 0px;
    }
    img.main{
        margin-left: -250px;
    }
    p.bio{
        padding-left:20px;
        padding-right: 20px;
    }
    img.video{
    margin-top: -200px;
    }
}
@media screen and (max-width:770px){
    div.text-box{
        left: 100px;
    }
    img.main{
        margin-left: -400px;
    }
    img.video{
    margin-top: -200px;
    }
    div.blog{
    margin-top:-100px;
    }
}
@media screen and (max-width:450px){
    input.nav_button{
        margin-right:5px;
    }
    img.bio{
        margin-left: -180px;
    }
}

footer{
    height:200px;
    width:100%;
    background-color: #111;
    text-align: center;
}

p.footer{
    padding-top: 50px;
    color: white;
    font-weight: bold;
}

ul.footer{
    display: inline;
    list-style: none;
    padding-right: 50px;
}
