li{
	display: inline;
	color: white;
	text-transform: capitalize;
    margin: 0;
    padding: 20px;
}

ul{
	background-color: #333;
	margin: 0;
    margin-left: -25px;
    text-align: left;
	padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0px;
}

h1{
	font-size: 30px;
    font-family: Calibri, Arial, sans-serif;
}

a{
    color:white;
    text-decoration: none;
    font-family: Calibri, Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

html{
    margin: 0;
}
nav{
    margin: 0;
    padding: 0;
}

p{
    margin: 20px;
    font-family: Calibri, Arial, sans-serif;
}